<html>
  <head>
    <title>Discord Bot web controller</title>
    <script type="text/javascript" src="scripts/jquery.min.js"></script> 
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <script type="text/javascript" src="scripts/client.js"></script>
  </head>
  <body>
    <h2>Discord Bot web controller</h2>
    <table class="trigger_response_list">
      <thead>
        <th>
          <strong>Index</strong>
        </th>
        <th>
          <strong>When someone says</strong>
        </th>
        <th>
          <strong>Discord bot says....</strong>
        </th>
      </thead>
      <tbody>
      </tbody>
    </table>
  </body>
</html>